<div>
  <div style="padding-top: 1em; height: 10vh; background-color: #2A303A;">
    <div class="columns reverse-columns">
      <!-- <div class="column is-1 is-pulled-left" style="margin-right: 10px;">
        <img style="width: 100%; height: 100%;" src="https://special.arabi21.com/corona/assets/images/logo.png"
          alt="" />
      </div> -->
      <div class="slider">
        <div class="slide-track">
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/ru.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/pk.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/pk.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/pk.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/pk.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/pk.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/pk.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/pk.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="slide columns">
            <div class="column">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
            <div class="column">
              <img
                src="https://coronastatistics.live/assets/flags/pk.svg"
                height="50"
                width="100"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <div class="column">
              <div class="column mt-left topbar-stats ft-size">
                <p class="rtl has-text-white">الحالات: 53232</p>
                <p class="rtl has-text-white">الوفيات: 32323</p>
                <p class="rtl has-text-white">المستعادة:322323</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <img
              src="https://coronastatistics.live/assets/flags/pk.svg"
              style="height: 8vh; width: 25vh;"
              alt=""
            />
          </div>

          <div class="slide">
            <div class="columns">
              <div class="column">
                <div class="column mt-left topbar-stats ft-size">
                  <p class="rtl has-text-white">الحالات: 53232</p>
                  <p class="rtl has-text-white">الوفيات: 32323</p>
                  <p class="rtl has-text-white">المستعادة:322323</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <img
              src="https://coronastatistics.live/assets/flags/ru.svg"
              style="height: 8vh; width: 25vh;"
              alt=""
            />
          </div>

          <div class="slide">
            <div class="columns">
              <div class="column">
                <div class="column mt-left topbar-stats ft-size">
                  <p class="rtl has-text-white">الحالات: 53232</p>
                  <p class="rtl has-text-white">الوفيات: 32323</p>
                  <p class="rtl has-text-white">المستعادة:322323</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <img
              src="https://coronastatistics.live/assets/flags/au.svg"
              style="height: 8vh; width: 25vh;"
              alt=""
            />
          </div>

          <div class="slide">
            <div class="columns">
              <div class="column">
                <div class="column mt-left topbar-stats ft-size">
                  <p class="rtl has-text-white">الحالات: 53232</p>
                  <p class="rtl has-text-white">الوفيات: 32323</p>
                  <p class="rtl has-text-white">المستعادة:322323</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <img
              src="https://coronastatistics.live/assets/flags/ca.svg"
              style="height: 8vh; width: 25vh;"
              alt=""
            />
          </div>

          <div class="slide">
            <div class="columns">
              <div class="column">
                <div class="column mt-left topbar-stats ft-size">
                  <p class="rtl has-text-white">الحالات: 53232</p>
                  <p class="rtl has-text-white">الوفيات: 32323</p>
                  <p class="rtl has-text-white">المستعادة:322323</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <img
              src="https://coronastatistics.live/assets/flags/ch.svg"
              style="height: 8vh; width: 25vh;"
              alt=""
            />
          </div>

          <div class="slide">
            <div class="columns">
              <div class="column">
                <div class="column mt-left topbar-stats ft-size">
                  <p class="rtl has-text-white">الحالات: 53232</p>
                  <p class="rtl has-text-white">الوفيات: 32323</p>
                  <p class="rtl has-text-white">المستعادة:322323</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <img
              src="https://coronastatistics.live/assets/flags/pk.svg"
              style="height: 8vh; width: 25vh;"
              alt=""
            />
          </div>
        </div>
      </div> -->

      <!-- <div class="reverse-columns top-bar-font">
        <div class="column is-1">
          <div class="columns reverse-columns">
            <div class="column is-2 top-img-dim">
              <p class="rtl">
                <img
                  src="https://coronastatistics.live/assets/flags/ir.svg"
                  alt=""
                />
              </p>
              <p class="rtl has-text-white">إيران</p>
            </div>
            <div class="column topbar-stats">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column is-1">
          <div class="columns reverse-columns">
            <div class="column is-2 top-img-dim">
              <p class="rtl">
                <img
                  src="https://coronastatistics.live/assets/flags/de.svg"
                  alt=""
                />
              </p>
              <p class="rtl has-text-white">ألمانيا</p>
            </div>
            <div class="column topbar-stats">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column is-1">
          <div class="columns reverse-columns">
            <div class="column is-2 top-img-dim">
              <p class="rtl">
                <img
                  src="https://coronastatistics.live/assets/flags/cn.svg"
                  alt=""
                />
              </p>
              <p class="rtl has-text-white">الصين</p>
            </div>
            <div class="column topbar-stats">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column is-1">
          <div class="columns reverse-columns">
            <div class="column is-2 top-img-dim">
              <p class="rtl">
                <img
                  src="https://coronastatistics.live/assets/flags/pk.svg"
                  alt=""
                />
              </p>
              <p class="rtl has-text-white">باكستان</p>
            </div>
            <div class="column topbar-stats">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column is-1">
          <div class="columns reverse-columns">
            <div class="column is-2 top-img-dim">
              <p class="rtl">
                <img
                  src="https://coronastatistics.live/assets/flags/us.svg"
                  alt=""
                />
              </p>
              <p class="rtl has-text-white">أمريكا</p>
            </div>
            <div class="column topbar-stats">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column is-1">
          <div class="columns reverse-columns">
            <div class="column is-2 top-img-dim">
              <p class="rtl">
                <img
                  src="https://coronastatistics.live/assets/flags/ar.svg"
                  alt=""
                />
              </p>
              <p class="rtl has-text-white">أمريكا</p>
            </div>
            <div class="column topbar-stats">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column is-1">
          <div class="columns reverse-columns">
            <div class="column is-2 top-img-dim">
              <p class="rtl">
                <img
                  src="https://coronastatistics.live/assets/flags/nl.svg"
                  alt=""
                />
              </p>
              <p class="rtl has-text-white">أمريكا</p>
            </div>
            <div class="column topbar-stats">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column is-1">
          <div class="columns reverse-columns">
            <div class="column is-2 top-img-dim">
              <p class="rtl">
                <img
                  src="https://coronastatistics.live/assets/flags/pt.svg"
                  alt=""
                />
              </p>
              <p class="rtl has-text-white">أمريكا</p>
            </div>
            <div class="column topbar-stats">
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="columns bg-blue">
    <div class="column" style="margin-left: 2em;">
      <p style="margin-left: 5.5em;">
        <span>
          الوقت: {{ date | date: "dd" }}/{{ date | date: "MM" }}/{{
            date | date: "yyyy"
          }}/{{ date | date: "SS" }}</span
        >/
        <span style="margin-right: 1em;">
          آخر تحديث: 4
        </span>
        <span style="margin-right: 3em;">
          آخر تحديث: منذ 4 دقيقة
        </span>
      </p>
      <div class="columns reverse-columns move-to-next">
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/es.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ir.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/de.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/gr.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/in.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ar.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/id.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/fi.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/rs.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/mx.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/kr.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/my.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ro.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/jp.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ec.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ec.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/lu.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ru.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/tr.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:3223</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/nl.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/pt.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ch.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ca.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:3223</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/il.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:3223</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/br.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/br.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:3223</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/at.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/se.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/cl.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ie.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/ph.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/au.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/it.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/tr.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:322323</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/it.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/it.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32223</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/it.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32223</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/it.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32223</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/pk.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32233</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns reverse-columns">
            <div class="column">
              <div class="rtl">
                <p class="rtl">
                  <img
                    style="width: 80%; height: 80%;"
                    src="https://coronastatistics.live/assets/flags/pk.svg"
                    alt=""
                  />
                </p>
                <p class="rtl has-text-white">إسبانيا</p>
              </div>
            </div>
            <div
              class="column"
              style="font-size: 8.6px; padding-left: 0; padding-right: 0;"
            >
              <p class="rtl has-text-white">الحالات: 53232</p>
              <p class="rtl has-text-white">الوفيات: 32323</p>
              <p class="rtl has-text-white">المستعادة:32223</p>
            </div>
          </div>
        </div>

        <div class="column" style="margin-top: 2em; margin-right: 1em;">
          <div class="columns cg-dir">
            <div
              class="column"
              style="padding-top: 2px; padding-bottom: 0; padding-right: 0;"
            >
              <div class="columns fl-reverse">
                <div class="column">
                  <p class="rtl">
                    <img
                      style="width: 60%; height: 60%;"
                      src="https://coronastatistics.live/assets/flags/pk.svg"
                      alt=""
                    />
                  </p>
                </div>
                <div class="column">
                  <p class="rtl has-text-white">باكستان +2 حالة</p>
                </div>
                <div class="column">
                  <p class="rtl has-text-white">قبل 4 ثوان</p>
                </div>
              </div>
            </div>
            <div
              class="column"
              style="padding-top: 0; padding-bottom: 0; padding-right: 0;"
            >
              <div class="columns fl-reverse">
                <div class="column">
                  <p class="rtl">
                    <img
                      style="width: 60%; height: 60%;"
                      src="https://coronastatistics.live/assets/flags/pk.svg"
                      alt=""
                    />
                  </p>
                </div>
                <div class="column">
                  <p class="rtl has-text-white">باكستان +2 حالة</p>
                </div>
                <div class="column">
                  <p class="rtl has-text-white">قبل 4 ثوان</p>
                </div>
              </div>
            </div>
            <div
              class="column"
              style="padding-top: 0; padding-bottom: 0; padding-right: 0;"
            >
              <div class="columns fl-reverse">
                <div class="column">
                  <p class="rtl">
                    <img
                      style="width: 60%; height: 60%;"
                      src="https://coronastatistics.live/assets/flags/pk.svg"
                      alt=""
                    />
                  </p>
                </div>
                <div class="column">
                  <p class="rtl has-text-white">باكستان +2 حالة</p>
                </div>
                <div class="column">
                  <p class="rtl has-text-white">قبل 4 ثوان</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-6" style="padding-right: 1em;">
      <div class="mt is-pulled-right" style="margin-bottom: auto;">
        <div>
          <!-- <p class="rtl title has-text-white" style="margin-bottom: 0.2em;">
            جائحة الفيروس التاجي
          </p> -->
          <p class="rtl">
            كوفيد 19 يعيش خريطة العالم والعد
          </p>
        </div>
        <div>
          <div class="columns">
            <div class="column">
              <p style="margin-bottom: 0.2em;" class="title has-text-white rtl">
                44,545
              </p>
              <p class="has-text-white rtl">إقليم</p>
            </div>
            <div class="column">
              <p style="margin-bottom: 0.2em;" class="title has-text-white rtl">
                44,545
              </p>
              <p class="has-text-white rtl">إجمالي تعافى</p>
            </div>
            <div class="column">
              <p style="margin-bottom: 0.2em;" class="title has-text-white rtl">
                44,545
              </p>
              <p class="has-text-white rtl">جمالي الوفيات</p>
            </div>
            <div class="column">
              <p style="margin-bottom: 0.2em;" class="title has-text-white rtl">
                44,545
              </p>
              <p class="has-text-white rtl">إجمالي الحالات</p>
            </div>
          </div>
        </div>
        <div class="rtl" style="margin-top: 0.5em;">
          <div style="background-color: #333B47; height:57vh; width:85vh;">
            &nbsp;
          </div>
        </div>
        <!-- <div></div> -->
      </div>
    </div>
  </div>
</div>
