.bg-blue {
  background-color: #282e38;
  min-height: 100%;
  color: white;
}

.mt {
  margin: 3px 1em 3px 5px;
}

p.rtl {
  direction: rtl;
}

.reverse-columns {
  flex-direction: row-reverse;
  display: flex;
}

.container_slider {
  overflow: hidden;
}

.container-wrapper {
  text-align: center;
  display: flex;
  height: auto;

  animation: slide 7s linear infinite;
}

.SuiteEtCopie {
  display: flex;
  position: absolute;
  width: 200%;
}

@keyframes slide {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-100%);
  }
}

.move-to-next {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.move-to-next > * {
  font-size: 10px;
  flex: 1 1 110px;
}

.last-col-slider {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.last-col-slider > * {
  flex: 1 1 20px;
}

.top-img-dim {
  width: 40%;
  height: 40%;
}

.bottom-img-dim {
  width: 30%;
  height: 30%;
}

.top-bar-font > * {
  font-size: 10px;
}

.mg-left-topbar {
  margin-left: 2px;
}

.topbar-stats {
  padding-bottom: 1em;
  padding-left: 5.5em;
  margin-left: 5.5em;
}

.mt-top-5 {
  margin-top: 3px;
}

.adj-font {
  font-size: 11px;
}

// @mixin white-gradient {
//   background: linear-gradient(
//     to right,
//     rgba(255, 255, 255, 1) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
// }

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-220px * 7));
  }
}

// Styling
.slider {
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 80px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    // @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(220px * 14);
  }

  .slide {
    height: 100px;
    width: 220px;
  }
}

.mt-left {
  margin-left: 0.5em;
}

.ft-size > * {
  font-size: 12px;
}
